CLIENT_API_URL = '127.0.0.1'
CLIENT_API_PORT = 2424

NODE_ENV='production'

API_KEY = 'TOKEN'
DISCORD_API_ENDPOINT = 'https://discord.com/api/v10'
CLIENT_ID = 'YOURCLIENTID'
CLIENT_SECRET = 'YOURSECRETHERE'
REDIRECT_URI = 'http://127.0.0.1:2424/auth/callback'
DISCORD_AUTH_LINK_TEMPLATE = 'https://discord.com/oauth2/authorize'