body, html {
    height: 100%;
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,105,121,1) 51%, rgba(255,145,0,1) 100%);
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-container {
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background: rgba(5, 0, 30, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-container h1 {
    color: white;
    font-family: "Anek Devanagari", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.error-container p {
    color: white;
    font-family: "Anek Devanagari", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 25px;
}

footer p {
    color: white;
    font-family: "Anek Devanagari", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 20px;
    margin-left: 10px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}

.small-icon {
    width: 40px;
    height: auto;
}